<aside>
  <h3>Contacto</h3>
  <p>{{ direccion }}</p>
  <p><a [href]="'tel:' + telefono">{{ telefono }}</a></p>
  <p><a [href]="'mailto:' + correoElectronico">{{ correoElectronico }}</a></p>
  <p><a [href]="sitioWeb" target="_blank" rel="noopener noreferrer">{{ sitioWeb }}</a></p>
  <p>
    GitHub:
    <a [href]="'https://github.com/' + github" target="_blank" rel="noopener noreferrer">{{ github }}</a>
  </p>

  <h3>Idiomas</h3>
  @for (idioma of idiomas; track idioma) {
  <p>{{ idioma }}</p>
  }
</aside>
